In [1]:
import pandas as pd
import sqlite3

In [3]:
# read sqlite query results into pandas DataFrame
con = sqlite3.connect("hawaii.sqlite")
df = pd.read_sql_query(con)

print(df.head())

TypeError: read_sql_query() missing 1 required positional argument: 'con'